---
---
/*------------------------------------*\
    #Dependencies
\*------------------------------------*/


/* Fonts */
$primary: "freight-text-pro", Georgia, serif; /* Headlines, subheadlines, quotes */
$secondary: "proxima-nova", "Source Sans Pro", "Helvetica Neue", sans-serif; /* Body text, nav, body text */


/* Colours */
$main-color: #555;
$highlight-color: #fee8bb;
$faded-color: #e2e2e2; /* Grey underline */
$light: rgba(0, 0, 0, 0.18);
$link: #959a9e; /* Dark grey */
$dark: #50585d; /* Navy blue */

$blue: #32d6df; /* Old website blue */
$marker: #b4e7f8; /* Blue */
$green: #d4fb00; /* Marker green */
$neon: #32d5ff; /* "Tech" blue, goes nicely with #2f2e35 as a dark alternative */


/* Other */
@mixin animate($time) {
	-webkit-transition: $time;
	-moz-transition: $time;
	transition: $time;
}

/* Vars */
$paper: 1300px; /* Paper width */
$outer-max: 870px; /* Navigation, wide images etc. */
$inner-max: 540px; /* Content */
$padding: 30px; /* Padding left and right on mobile */
$calc: $outer-max - $inner-max - ($padding * 2); /* For wide images to be adaptive to $padding */
$an-time: 0.2s ease-out; /* Animation time on navigation, SVG and links */




/*------------------------------------*\
    #General
\*------------------------------------*/

::-moz-selection {
	background: $highlight-color;
	color: $main-color;
}

::selection {
	background: $highlight-color;
	color: $main-color;
}

html, body {
	background: #f0f0f0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	color: $main-color;
	font-weight: normal;
	-webkit-text-size-adjust: 100%; /* Because iPhones are dumb sometimes. */
}

*, *:after, *:before { /* <3 */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	border: 0;
	max-width: 100%;
	padding: 30px 0;
}

.transparent {
	background: transparent;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

blockquote {
	margin: 0;

	&:after, &:before {
		content: '';
	}
}





/*------------------------------------*\
    #Main_Style
\*------------------------------------*/

.wrap {
	background-color: #fbfbfb;
	-webkit-box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.08);
	box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.08);
	margin: 0 auto;
	max-width: $paper;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

header {
	line-height: 0;
	padding: 120px 0;
	text-align: center;
	width: 100%;
}

#main {
	margin: 0px auto;
	max-width: $outer-max;
	padding: 0px $padding;
	width: 100%;
}





/*------------------------------------*\
    #Element_Style
\*------------------------------------*/

.logo {
	width: 100px;
}

nav {
	position: relative;
	text-align: center;
	width: 100%;

	ul {
		border-bottom: 1px solid $light;
		display: block;
	}

	li {
		display: inline-block;
		font: 300 12px/1.8 $secondary;
		font-weight: normal;
		position: relative;
		text-transform: uppercase;

		a {
			display: block;
			padding: 6px;
		}

		&:hover{
			a {
				color: $main-color;
			}
		}
	}
}

footer {
	font: 300 11px/1.8 $secondary;
	text-align: center;
	text-transform: uppercase;
	width: 100%;

	ul {
		border-top: 1px solid $light;
		display: block;
		margin: 100px 0 0;
		padding: 20px 0;
	}

	li {
		color: $light;
		display: inline-block;
		position: relative;

		&:nth-last-of-type(-n+2) {
			display: block;
			text-transform: capitalize;
		}

		a {
			display: block;
		}
	}
}

.social a {
	font-size: 11px;
	letter-spacing: 1px;
	padding: 6px 4px;
}

nav .social {
	li:nth-of-type(3) {
		display: none;
	}
}

footer .social {
	li:nth-of-type(5), li:nth-of-type(6) {
		display: none;
	}
}

.nxt, .button {
	border: 1px solid $light;
	display: inline-block;
	font: 600 11px/1.8 $secondary;
	margin: 80px 0 0;
	padding: 11px 20px;
	text-transform: uppercase;

	&:hover {
		border: 1px solid $main-color;
		color: $main-color;
	}
}

.center {
	margin-top: -30px;
	text-align: center;
}

.button {
	margin: 30px 0;
	position: relative;
}

.nxt, .button {
	position: relative;

/* 	&:after {
	@include animate(0.3s ease-out);
	content: 'Omg';
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}

&:hover:after {
	opacity: 1;
	top: -25px;
}

&:active:after {
	content: 'Yayy!';
	opacity: 0;
	top: -50px;
} */
}

%cat {
	@include animate(0.15s cubic-bezier(0.33, 0.66, 0.66, 1));
	background: $dark;
	border-radius: 30px;
	color: transparent;
	cursor: none;
	display: inline-block;
	font: 300 11px/1.2 $secondary;
	height: 17px;
	letter-spacing: 1px;
	margin: 10px auto 0;
	overflow: hidden;
	padding: 2px;
	text-align: center;
	text-transform: uppercase;
	width: 17px;

	&:hover {
		color: #FFF;
	}
}

/* .web {
	@extend %cat;

	&:hover {
		width: 72px;
	}
}

.design {
	@extend %cat;

	&:hover {
		width: 82px;
	}
}

.thoughts {
	@extend %cat;

	&:hover {
		width: 110px;
	}
} */

.wordcount {
	margin: 60px 0;
	text-align: center;
}

.words {
	color: $main-color;
  font: 300 12px/1.6 $secondary;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.div { /* Replacement for wordcount on pages */
	border-bottom: 1px solid $light;
	display: block;
	height: 8px;
	margin: 0 auto;
	width: 20px;
}

.spacer {
	display: block;
	height: 30px;
	width: 100%;
}

.spaceless {
	margin: 0;
}

.gallery {
	img {
		padding: 0 0 10px;

		&:first-of-type {
			padding: 30px 0 10px;
		}
	}

	.caption {
		padding: 0 0 30px;

		&:first-of-type {
			padding: 30px 0;
		}

		img {
			padding: 0;

			&:first-of-type {
				padding: 0;
			}
		}
	}
}

.double {
	padding: 30px 0;

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	img {
		float: left;
		padding: 0;
	}

	img:nth-of-type(odd) {
		margin-right: 4px;
	}
}

.two {
	img {
		width: calc(50% - 2px);
	}

	img:nth-of-type(n+3) {
		margin-top: 4px;
	}
}

.show {
	margin: 10px 0;
	padding: 0;
	position: relative;

	svg {
		@include animate($an-time);
		background: rgba(white, 0.5);
		cursor: pointer;
		height: 60px;
		margin-top: -30px;
		padding: 6px 9px;
		position: absolute;
		top: 50%;
		width: 44px;
		z-index: 99;
		fill: $main-color;
	}
}

.caption {
	color: lighten($main-color, 20%);
	display: block;
	line-height: 0;
	margin: 0;
	padding: 30px 0;

	span {
		font: 300 12px/1.6 $secondary;
	}

	img {
		margin: 0 0 10px;
		padding: 0;
	}

	strong {
		font-weight: normal;
		text-transform: uppercase;
	}
}

.mid {
	text-align: center;
}

/* .right {
	text-align: right;
} */

.cover {
	margin-left: -($padding);
	max-width: calc(100% + #{$padding * 2});
	width: calc(100% + #{$padding * 2});

	span {
		display: block;
		padding: 0 30px;
		width: 100%;
	}
}

.videoWrapper {
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	position: relative;
}

.videoWrapper iframe {
	height: 100%;
	left: 0;
	margin: 30px 0;
	position: absolute;
	top: 0;
	width: 100%;
}





/*------------------------------------*\
  	#Typography
\*------------------------------------*/

h1, h2, code, .nxt, .button, blockquote, article {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	color: darken($main-color, 10%);
	font: 400 34px/1 $primary;
	/* margin: 20px 0 14px (34px/20); */
	margin: 20px 0 14px;
	text-align: center;
}

h2 {
	color: $main-color;
  font: 400 22px/1.3 $secondary;
  margin-bottom: 24px;
  margin-left: (-24px/20);
  margin-top: 40px;
  position: relative;
}

h3 {
	color: $main-color;
	font: 400 18px/1 $secondary;
	margin-left: (-18px/20);
	padding-top: 20px;
	position: relative;
}

p {
  color: $main-color;
	font: 300 15px/1.8 $secondary;
  margin: 0 0 24px;

  strong {
  	font-weight: 600;
  }
}

a {
	@include animate($an-time);
	color: $link;
	text-decoration: none;
}

nav .active {
	color: $main-color;
}

hr {
	background: $light;
	border: 0;
	display: block;
	height: 1px;
	margin: 48px auto;
	width: 100px;
}

article {
	margin: 0 auto;
	max-width: $inner-max;

	& p:first-of-type img {
		padding-top: 0;
	}

	a {
		color: $link;

		&:hover {
			color: $main-color;
		}
	}

	li:not(.lslide):not(.clone) {
		color: $main-color;
		font: 300 15px/1.8 $secondary;
		margin: 0 0 10px;
		position: relative;

		&:before {
			bottom: 0;
			content: '\00b7';
			left: -15px;
			position: absolute;
			right: 0;
			top: 0;
			width: 15px;
		}

		&:last-of-type {
			margin-bottom: 24px;
		}
	}
}

.mark {
	border-bottom: 3px solid $highlight-color;/* 
	-webkit-box-shadow: inset 0 -5px 0 $highlight-color;
	box-shadow: inset 0 -5px 0 $highlight-color; */
	-webkit-box-shadow: inset 0 -2px 0 $highlight-color;
	box-shadow: inset 0 -2px 0 $highlight-color;
	color: $main-color;
	@include animate(background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1));

	&:hover {
		background: $highlight-color;
		color: #222;
	}
}

/* .mark {
	background: #fee8bb;
	padding: 1px 2px;
	color: #222;
} */

blockquote p {
	color: $main-color;
	display: block;
	font: 400 26px/1.2 $primary;
	margin: 50px auto 40px;
	padding: 30px 0 20px;
	position: relative;
	text-align: center;
	width: 100%;

	&:before {
		color: $light;
		content: '\201D';
		font: 300 60px/1 $primary;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: -20px;
	}
}

code {
	font: 700 15px/1.8 monospace;
}

pre {
	display: inline;
	
	code {
		background: #f6f6f6;
		border-radius: 2px;
		color: $main-color;
		display: block;
		font-size: 13px;
		margin: 30px 0;
		padding: 30px;
		text-align: left;
		white-space: pre-wrap;
		width: 100%;
	}
}

em {
	a {
		font-style: italic;
	}
}





/*------------------------------------*\
    #Responsive
\*------------------------------------*/

@media only screen and (min-width:960px) {
	nav li {
		&:after {
			@include animate(all $an-time 0s);
			background: $main-color;
			bottom: -1px;
			content: '';
			height: 1px;
			left: 50%;
			position: absolute;
			width: 0;
		}

		&:hover:after {
			margin-left: -50%;
			width: 100%;
		}
	}

	footer {
		ul {
			margin: 130px 0 0;
		}

		li {
			a:hover {
				color: $main-color;
			}
		}
	}

	.nxt {
		margin: 130px 0 0;
	}

	.big, .cover {
		margin-left: -20%;
		max-width: 140%;
		width: 140%;

		span {
			padding: 0;
		}
	}

	.wide {
		margin-left: -(($outer-max - $inner-max - ($padding * 2)) / 2);
		max-width: calc(100% + #{$calc});
		width: calc(100% + #{$calc});
	}

	.videoWrapper {
		margin-bottom: 60px;
		padding-bottom: 73.1%;

		& .big {
			@extend .big;
		}
	}

	blockquote p {
		font-size: 30px;
		margin-left: -40px;
		margin-top: 70px;
		padding: 40px 0 50px;
		width: calc(100% + 80px);
	}

	nav li a {
		font-size: 13px;
	}

	.gallery {
		img {
			padding: 0 0 30px;

			&:first-of-type {
				padding: 30px 0;
			}
		}
	}
}

@media only screen and (min-width:720px) {
	nav, footer {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		ul li {
			font: 600 12px/1.8 $secondary;
		}
	}

	pre code {
		padding: 50px;
	}
}

@media only screen and (min-width:540px) {
	p, article li {
		font-size: 14px; /* or 15 */
	}

	nav li {
		letter-spacing: 1px;
	}

	footer {
		ul {
			padding: 30px 0;
		}

		li {
			&:nth-last-of-type(-n+2) {
				text-transform: uppercase;
			}
		}
	}

	nav li a {
		font-size: 12px;
		padding: 6px;
	}

	nav .social {
		li:nth-of-type(3) {
			display: inline-block;
		}
	}

	footer .social {
		li:nth-of-type(5), li:nth-of-type(6) {
			display: inline-block;
		}
	}

	.nxt, .button {
		letter-spacing: 1px;
		padding: 12px 28px;
	}

	.show svg:hover {
		background: #fbfbfb;
	}
}

@media only screen and (min-width:1500px) {
	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 20px;
	}

	p, code, article li {
		font-size: 16px;
	}

	.caption {
		span {
			font-size: 14px;
		}
	}
}

@media only screen and (max-height:480px) {
	header {
		padding: 60px 0;
	}
}





/*------------------------------------*\
    #Animations
\*------------------------------------*/

@import 'animations';
@import 'slider';





/*------------------------------------*\
    #Secondary
\*------------------------------------*/

@import 'print';




