/*
----------------------------------------              ----------------------------------------
---------------------------------------- Dependencies ----------------------------------------
----------------------------------------              ----------------------------------------
*/
/* Fonts */
/* Colours */
/* Other */
/* Variables */
/* Grid width */
.grid {
  width: 100%;
  /* margin: 0 auto; --- Optional */ }

/* Column width - add more if needed */
.col-20 {
  width: 20%; }

.col-25 {
  width: 25%; }

.col-30 {
  width: 30%; }

.col-33 {
  width: 33.33%; }

.col-50 {
  width: 50%; }

.col-80 {
  width: 80%; }

/* General stuff */
[class*='col-'] {
  float: left;
  line-height: 0;
  padding: 8px; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

/*
----------------------------------------         ----------------------------------------
---------------------------------------- General ----------------------------------------
----------------------------------------         ----------------------------------------
*/
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  background: #2d3738;
  -webkit-text-size-adjust: 100%;
  /* Because iPhones are dumb sometimes. */
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  border: 0;
  max-width: 100%;
  width: auto;
  height: auto; }

/*
----------------------------------------            ----------------------------------------
---------------------------------------- Main style ----------------------------------------
----------------------------------------            ----------------------------------------
*/
.splash {
  position: relative;
  background: #aec6c6;
  width: 100%;
  height: 600px; }

.parallax_layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateZ(0);
  background-size: 1702px 600px; }

#layer-0 {
  background-image: url(../img/layer-3.png);
  z-index: 906; }

#layer-1 {
  background-image: url(../img/layer-2.png);
  z-index: 905; }

#layer-2 {
  z-index: 904;
  padding-top: 380px;
  width: 100%;
  height: 100%;
  text-align: center; }

#layer-3 {
  background-image: url(../img/layer-1.png);
  z-index: 903; }

/*#layer-3 {
	background-image: url(../img/layer-0.png);
	z-index: 903;
}*/
.first {
  padding-top: 140px; }

.last {
  padding-bottom: 140px; }

.content {
  display: block;
  background: #2d3738;
  z-index: 999;
  position: relative;
  padding-top: 140px; }
  .content p, .content h2 {
    margin: 0 auto;
    max-width: 500px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px; }

/*
----------------------------------------            ----------------------------------------
---------------------------------------- Typography ----------------------------------------
----------------------------------------            ----------------------------------------
*/
body {
  color: #DFE9E9;
  font-family: "Helvetica", sans-serif;
  line-height: 1.6; }

h1 {
  color: #838e8e; }

h2 {
  font-size: 20px;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 1px; }

p {
  font-family: "source-sans-pro", sans-serif; }

/*
----------------------------------------            ----------------------------------------
---------------------------------------- Responsive ----------------------------------------
----------------------------------------            ----------------------------------------
*/
/*
----------------------------------------            ----------------------------------------
---------------------------------------- Animations ----------------------------------------
----------------------------------------            ----------------------------------------
*/
.animated {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.delay {
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }
