/*
----------------------------------------           ----------------------------------------
---------------------------------------- VARIABLES ----------------------------------------
----------------------------------------           ----------------------------------------
*/

$headlines: 'Montserrat', sans-serif;
$bodytext: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/*$orange: rgba(211, 104, 104, 1);*/
$teal: #36b3a8;
$teal-light: #5ec2b9;
$head: #383838;
$text: #555;



@mixin center {
	margin-right: auto;
	margin-left: auto;
}

@mixin space {
	padding-top: 130px;
	padding-bottom: 130px;
}


/*
----------------------------------------         ----------------------------------------
---------------------------------------- GENERAL ----------------------------------------
----------------------------------------         ----------------------------------------
*/

body, ul {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap {
	width: 100%;
}

.white {
	background-color: #FFF;
}

.grey {
	background-color: #f6f6f6;
}

.image-one {
	background: url(../img/mon2.jpg);
}

.image-three {
	background: url(../img/mon3.jpg);
}

.image-four {
	background: url(../img/mon1.jpg);
}

[class*='image-'] {
	color: #222;
	text-align: center;
	font-size: 36px;
	font-family: $bodytext;
	letter-spacing: 2px;

	padding-top: 160px;
	padding-bottom: 160px;
	background-repeat: no-repeat;
	background-color: #222;
    background-position: center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

.content {
	@include center;
	@include space;
	width: 640px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}

.mid-text {
	font-weight: normal;
}

.low-text {
	font-weight: normal;
}

.break {
	@include center;
	display: block;
	width: 30px;
	height: 1px;
	margin-top: 24px;
	margin-bottom: 20px;
	border-top: 1px solid #d9d9d9;
}



/*
----------------------------------------            ----------------------------------------
---------------------------------------- TYPOGRAPHY ----------------------------------------
----------------------------------------            ----------------------------------------
*/

h1 {
	font-family: $headlines;
	font-weight: normal;
	font-size: 60px;
	letter-spacing: 5px;
	color: #222;
	line-height: 0;
}

h2 {
	color: $head;
	font-family: $bodytext;
	letter-spacing: 2px;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	text-transform: uppercase;
}

p {
	color: $text;
	font-size: 15px;
	line-height: 24px;
	font-family: $bodytext;
	font-weight: 400;
	font-style: normal;
}

.content p {
	text-align: justify;
}

a {
	text-decoration: none;
	color: $teal;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.content a {
	border-bottom: 1px solid #FFF;
}

.grey .content a {
	border-bottom: 1px solid #f6f6f6;
}

.content a:hover {
	border-bottom: 1px solid $teal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-83a6yj');
	src:url('../fonts/icomoon.svg?-83a6yj#icomoon') format('svg'),
		url('../fonts/icomoon.eot?#iefix-83a6yj') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-83a6yj') format('woff'),
		url('../fonts/icomoon.ttf?-83a6yj') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	font-size: 16px;
	letter-spacing: 20px;

}

.icon-mail:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e602";
}

.content .icons:hover {
	border-bottom: 1px solid #FFF;
	opacity: .7;
}



/*
----------------------------------------            ----------------------------------------
---------------------------------------- NAVIGATION ----------------------------------------
----------------------------------------            ----------------------------------------
*/

.nav {
	position: absolute;
	z-index: 99;
	padding-top: 10px;
	padding-right: 25px;
	padding-left: 25px;
}

li {
	list-style: none;
	float: right;
	padding: 25px;
}

li a {
	font-family: $headlines;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #222;
}

li a:hover {
	color: $teal-light;
}



/*
----------------------------------------               ----------------------------------------
---------------------------------------- COVER SECTION ----------------------------------------
----------------------------------------               ----------------------------------------
*/

.cover {
	height: 100vh;
	/*height: 650px; ONLY IF NO VH*/
	background-color: #f6f6f6;
	/* background: url(http://www.squireel.com/assets/img/medias/header-background.jpg); */
	/*background: url(../img/a.jpg);*/
	background: url(../img/mon.jpg);
    background-position: center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	position: relative;
}

.welcome {
	/*padding-top: 220px; ONLY IF NO VH*/
	/*padding-top: 250px;*/
	padding-top: 30px;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.date {
	font-size: 14px;
}

.sub {
	padding-top: 5px;
	font-family: $headlines;
	font-weight: normal;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #222;
}

.final-letter {
	letter-spacing: 0;
}

.top-text {
	font-family: $headlines;
	font-weight: normal;
	letter-spacing: 2px;
	color: $teal-light;
	font-size: 14px;
}

.button {
	margin: 0 auto;
	color: #FFF;
	font-size: 12px;
	font-family: $headlines;
	line-height: 2.5;
	border-radius: 25px;
	background: $teal;
	width: 100px;
	height: 30px;
	display: block;
	margin-top: 60px;
}


/* HOVER EFFECT - WIP */

.button .hide {
	display: none;
}

.button:hover .show {
	display: none;
}

.button:hover .hide {
	display: inline;
}



/*
----------------------------------------               ----------------------------------------
---------------------------------------- ABOUT SECTION ----------------------------------------
----------------------------------------               ----------------------------------------
*/




/*
----------------------------------------                 ----------------------------------------
---------------------------------------- STUDENT SECTION ----------------------------------------
----------------------------------------                 ----------------------------------------
*/

.students {
}



/*
----------------------------------------             ----------------------------------------
---------------------------------------- MAP SECTION ----------------------------------------
----------------------------------------             ----------------------------------------
*/

.map {
}



/*
----------------------------------------                 ----------------------------------------
---------------------------------------- CONNECT SECTION ----------------------------------------
----------------------------------------                 ----------------------------------------
*/

.connect p {
	text-align: center;
}

.connect, .content {
	padding-bottom: 110px;
}



/*
----------------------------------------                ----------------------------------------
---------------------------------------- FOOTER SECTION ----------------------------------------
----------------------------------------                ----------------------------------------
*/

.footer {
	color: #919191;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 16px;
	margin-top: 0;
	margin-bottom: 0;
	background: #222;
	text-align: center;
}

.footer a {
	color: #919191;
}

.footer a:hover {
	color: $teal;
}



/*
----------------------------------------                    ----------------------------------------
---------------------------------------- RESPONSIVE SECTION ----------------------------------------
----------------------------------------                    ----------------------------------------
*/

@media only screen and (max-width: 768px) {
	.content {
		padding-left: 5%;
		padding-right: 5%;
		width: 90%
	}

	h1 {
		font-size: 40px;
	}

	.welcome {
		/*padding-top: 230px; flexbox */
	}
}

@media only screen and (max-width: 600px) {
	.welcome {
		/*padding-top: 170px; ONLY IF NO VH*/
		/*padding-top: 250px; flexbox*/
	}

	.year {
		display: none;
	}

	.mobile {
		letter-spacing: 0;
		font-weight: normal;
	}

	h1 {
		font-size: 28px;
		letter-spacing: 6px;
	}

	.sub {
		font-size: 10px;
		letter-spacing: 1px;
	}

	.nav {
		padding-right: 0px;
		padding-left: 0px;
	}

	.cover {
		/*height: 480px; ONLY IF NO VH*/
	}

	.content {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	[class*='image-'] {
		font-size: 28px;
	}	
}



/*
----------------------------------------            ----------------------------------------
---------------------------------------- ANIMATIONS ----------------------------------------
----------------------------------------            ----------------------------------------
*/

.animated {
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.delay {
	-webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.delay-2 {
	-webkit-animation-delay: .5s;
    animation-delay: .5s;
}
















