/*
----------------------------------------           ----------------------------------------
---------------------------------------- VARIABLES ----------------------------------------
----------------------------------------           ----------------------------------------
*/
/*
----------------------------------------         ----------------------------------------
---------------------------------------- GENERAL ----------------------------------------
----------------------------------------         ----------------------------------------
*/
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  background: #527582;
  -webkit-text-size-adjust: 100%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden; }

.white {
  background-color: #FFF; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

footer {
  font-size: 12px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.6;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
  padding-bottom: 26px; }

/*
----------------------------------------           ----------------------------------------
---------------------------------------- MAIN PAGE ----------------------------------------
----------------------------------------           ----------------------------------------
*/
.relative {
  position: relative;
  height: 100%;
  width: 100%; }

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../w88.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.splash {
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/*
----------------------------------------        ----------------------------------------
---------------------------------------- VIDEO  ----------------------------------------
----------------------------------------        ----------------------------------------
*/
#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto; }

.video-controls {
  position: fixed;
  margin: 0 auto;
  z-index: 999;
  left: 50%;
  margin-left: -117px;
  bottom: 70px;
  text-align: center;
  background: #222;
  padding: 7px 25px 10px;
  font-size: 0;
  border-radius: 999px; }

.video-close {
  position: fixed;
  top: 50px;
  right: 5%;
  z-index: 999;
  padding: 10px; }

button {
  outline: none;
  line-height: 1.2;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 10px;
  color: #FFF;
  background: none;
  border: 0; }

button:hover {
  opacity: .75; }

.videos {
  -webkit-appearance: none;
  outline: none;
  width: 180px;
  background: #656565;
  height: 2px;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 6px;
  display: block; }

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
  background: #222;
  height: 14px;
  width: 6px;
  cursor: pointer; }

/*
----------------------------------------            ----------------------------------------
---------------------------------------- ABOUT PAGE ----------------------------------------
----------------------------------------            ----------------------------------------
*/
.navigation {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding-top: 36px;
  padding-right: 36px;
  text-align: right; }

.navigation a {
  padding: 20px;
  color: rgba(250, 250, 250, 0.8);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 11px; }

.navigation a:hover {
  color: #fafafa; }

.cover {
  position: relative;
  padding-top: 150px;
  padding-bottom: 130px;
  text-align: center;
  background-color: #a9c056; }

.cover a, .splash a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #222;
  text-transform: uppercase;
  font-weight: 400;
  background: #FFF;
  border-radius: 25px;
  padding: 10px;
  padding-right: 26px;
  padding-left: 26px;
  cursor: pointer; }

.splash a span {
  color: #527582; }

.cover a:hover, .splash a:hover {
  background: rgba(250, 250, 250, 0.8); }

.content {
  margin-right: auto;
  margin-left: auto;
  width: 720px; }

.end {
  margin-bottom: 80px; }

.about {
  margin-top: 50px; }

.text {
  padding: 24px; }

/*
----------------------------------------            ----------------------------------------
---------------------------------------- TYPOGRAPHY ----------------------------------------
----------------------------------------            ----------------------------------------
*/
h1 {
  color: white;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  padding-bottom: 20px;
  font-weight: 300;
  text-align: left; }

h2 {
  color: #222;
  text-align: center;
  font-size: 60px; }

h2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px; }

p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  text-align: left; }

p a {
  border-bottom: 1px solid white; }

p a:hover {
  opacity: .7; }

a {
  text-decoration: none;
  color: #FFF;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.cover, .splash {
  font-size: 54px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #FFF; }

.cover {
  font-size: 42px; }

/*Fix this later.*/
.number {
  font-weight: bold; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6fxur0");
  src: url("../fonts/icomoon.svg?6fxur0#icomoon") format("svg"), url("../fonts/icomoon.eot?#iefix6fxur0") format("embedded-opentype"), url("../fonts/icomoon.woff?6fxur0") format("woff"), url("../fonts/icomoon.ttf?6fxur0") format("truetype");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon'; }

.icon-heart:before {
  content: "\e600"; }

.icon-cross:before {
  content: "\e601";
  color: #FFF;
  cursor: pointer;
  font-size: 18px; }

.icon-play:before {
  content: "\e602";
  font-size: 14px; }

.icon-pause:before {
  content: "\e603"; }

/*
----------------------------------------            ----------------------------------------
---------------------------------------- RESPONSIVE ----------------------------------------
----------------------------------------            ----------------------------------------
*/
@media only screen and (max-width: 1000px) {
  .content {
    width: 640px; }

  .navigation {
    padding-right: 1.5%; } }
@media only screen and (max-width: 760px) {
  .content {
    width: 560px; }

  .navigation {
    text-align: center;
    padding-right: 0; } }
@media only screen and (max-width: 639px) {
  .content {
    width: 96%;
    padding-right: 2%;
    padding-left: 2%; } }
/*
----------------------------------------            ----------------------------------------
---------------------------------------- ANIMATIONS ----------------------------------------
----------------------------------------            ----------------------------------------
*/
.animated {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }
