/*
----------------------------------------           ----------------------------------------
---------------------------------------- VARIABLES ----------------------------------------
----------------------------------------           ----------------------------------------
*/

$headlines: 'Roboto', sans-serif;
$bodytext: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$titles: #383838;
$text: #333;
$inactive: #9fa2a6;
$primary-colour: #172638;



@mixin center {
	margin-right: auto;
	margin-left: auto;
}



/*
----------------------------------------         ----------------------------------------
---------------------------------------- GENERAL ----------------------------------------
----------------------------------------         ----------------------------------------
*/

body {
	background: #ececec;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



/*
----------------------------------------            ----------------------------------------
---------------------------------------- TYPOGRAPHY ----------------------------------------
----------------------------------------            ----------------------------------------
*/

h1 {
	color: #FFF;
	font-family: $headlines;
	font-size: 22px;
	padding-bottom: 20px;
	font-weight: 300;
	border-bottom: 1px solid #f6f6f6;
}

.category {
	border-bottom: 1px solid #f6f6f6;
}

h2 {
	font-family: $headlines;
	font-weight: 300;
	font-size: 18px;
}

p {
	font-family: $bodytext;
	color: $text;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.6;
	text-align: left;
}

.button {
	text-align: center;
}

.button a {
	color: #39a28a;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
}

a {
	color: $inactive;
	font-family: $bodytext;
	text-decoration: none;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.dot {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 26px;
	color: $inactive;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-7h4llh');
	src:url('../fonts/icomoon.svg?-7h4llh#icomoon') format('svg'),
		url('../fonts/icomoon.eot?#iefix-7h4llh') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-7h4llh') format('woff'),
		url('../fonts/icomoon.ttf?-7h4llh') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	color: #FFF;
	font-size: 60px;
	line-height: 3;
}

.icon-umbrella:before {
	content: "\e060";
}

.icon-moon:before {
	content: "\e061";
}

.icon-thermometer:before {
	content: "\e062";
}

.icon-drop:before {
	content: "\e063";
}

.icon-sun:before {
	content: "\e064";
}

.icon-cloud:before {
	content: "\e065";
}




/*
----------------------------------------             ----------------------------------------
---------------------------------------- NAV SECTION ----------------------------------------
----------------------------------------             ----------------------------------------
*/

.bar {
	position: absolute;
	width: 100%;
	z-index: 99;
	text-align: right;
	padding-top: 20px;
	padding-right: 16px;
}

.bar a {
	color: #FFF;
	padding: 20px;
	font-size: 14px;
	opacity: .6;
}

.bar a:hover {
	opacity: 1;
}



/*
----------------------------------------               ----------------------------------------
---------------------------------------- COVER SECTION ----------------------------------------
----------------------------------------               ----------------------------------------
*/

/*.bar {
	width: 100%;
	height: 40px;
}*/

.cover {
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;

	font-size: 36px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: #FFF;

	background: #00bcd4;
	background: url(https://d13yacurqjgara.cloudfront.net/users/185043/screenshots/683524/illustration-01.png);
}



/*
----------------------------------------                  ----------------------------------------
---------------------------------------- CONTENT SECTIION ----------------------------------------
----------------------------------------                  ----------------------------------------
*/

.one {
	background-color: #02bcd4;
}

.two {
	background-color: #7fdde9;
}

.three {
	background-color: #aed581;
}

.four {
	background-color: #d6eac0;
}

.five {
	background-color: #f57c02;
}

.six {
	background-color: #fabd7f;
}

.seven {
	background-color: #ff8a80;
}

.eight {
	background-color: #ffc4bf;
}

.content {
	@include center;
	width: 740px;
	padding-top: 50px;
	padding-bottom: 10%;
}

[class*='col-'] {
	text-align: center;
	float: left;
	display: inline-block;
	border-radius: 2px;
	padding: 32px;
	padding-top: 16px;
	margin: 8px;
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 3px 0px;
	-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	transition: .3s ease-out;
}

.start {
	margin-left: 0;
}

.end {
	margin-right: 0; 
}

.col-half {
	width: 362px;
}

.col-full {
	width: 740px;
	margin: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.content:after {
	content: "";
	display: table;
	clear: both;
}

a [class*='col-']:hover {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 11px 3px;
}

[class*='col-'] a:hover {
	color: $text;
}

.image {
	height: 250px;
	background-image: url(../img/city.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

.image:hover {
	height: 500px;
}

/*Implement this in a better way later..*/

img {
	max-width: 100%;
	padding-top: 16px;
}



/*
----------------------------------------                 ----------------------------------------
---------------------------------------- FOOTER SECTIION ----------------------------------------
----------------------------------------                 ----------------------------------------
*/

footer {
	color: $inactive;
	font-size: 12px;
	font-family: $bodytext;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}



/*
----------------------------------------            ----------------------------------------
---------------------------------------- RESPONSIVE ----------------------------------------
----------------------------------------            ----------------------------------------
*/

@media only screen and (max-width: 1000px) {
	.content {
		padding-top: 4%;
		width: 640px;
	}

	.col-half {
		width: 312px;
	}

	.col-full {
		width: 640px;
	}

	.bar {
		text-align: center;
		padding-right: 0px;
	}

	[class^="icon-"], [class*=" icon-"] {
		line-height: 2.8;
	}
}

@media only screen and (max-width: 760px) {
	.content {
		width: 560px;
	}

	.col-half {
		width: 272px;
	}

	.col-full {
		width: 560px;
	}

	[class^="icon-"], [class*=" icon-"] {
		line-height: 2.2;
	}

	.image:hover {
		height: 250px;
	}
}

@media only screen and (max-width: 639px) {
	.content {
		padding-top: 2%;
		width: 100%;
	}

	.col-half, .col-full {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
		padding: 24px;
	}

	[class^="icon-"], [class*=" icon-"] {
		display: none;
	}

	.category {
		border-bottom: none;
		padding-bottom: 0;
	}
}



/*
----------------------------------------            ----------------------------------------
---------------------------------------- ANIMATIONS ----------------------------------------
----------------------------------------            ----------------------------------------
*/

.animated {
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.delay-a {
	-webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.delay-b {
	-webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.delay-c {
	-webkit-animation-delay: .38s;
    animation-delay: .38s;
}

.delay-d {
	-webkit-animation-delay: .42s;
    animation-delay: .42s;
}














