<footer>
	
	{% if page.up %}
		<a href="{{page.up}}" class="nxt">
				{{ page.next }}
		</a>
	{% endif %}
	
	<ul class="social">
		<li>
			<a href="https://twitter.com/MagnusSkare" target="_blank">Twitter</a>
		</li>
		<li>&#124;</li>
		<li>
			<a href="https://dribbble.com/PartCoffee/" target="_blank">Dribbble</a>
		</li>
		<li>&#124;</li>
		<li>
			<a href="https://github.com/partcoffee" target="_blank">GitHub</a>
		</li>
		<li>&#124;</li>
		<li>
			<a href="http://instagram.com/magnusskare/" target="_blank">Instagram</a>
		</li>
		<li>&#124;</li>
		<li>
			<a href="mailto:website.magnusskare@gmail.com" target="_blank">Email</a>
		</li>
		<li>
			<a href="/">Copyright 2015 Magnus Skare</a>
		</li>
		<li>
			<a href="https://github.com/partcoffee/partcoffee.github.io/commits/master" target="_blank">Revised: {{ site.time | date_to_string }}</a>
		</li>
	</ul>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src='../js/main.js'></script>

{% if page.slider %}
	<script src='../js/slide.js'></script>
{% endif %}