<footer>
  <ul>
    <li><a href="http://instagram.com/magnusskare/" target="_blank">Instagram</a></li>
    <li><a href="https://dribbble.com/PartCoffee/" target="_blank">Dribbble</a></li>
    <li><a href="https://twitter.com/MagnusSkare" target="_blank">Twitter</a></li>
    <li><a href="https://github.com/partcoffee" target="_blank">GitHub</a></li>
    <li><a href="mailto:website.magnusskare@gmail.com">Mail</a></li>
  </ul>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src='../js/main.js'></script>

{% include analytics.html %}