<svg display="none" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-heart" viewBox="0 0 1024 1024">
      <path class="path1" d="M513.344 267.040c0 0-64-136.384-208-136.384-157.344 0-240 133.344-240 266.656 0 221.344 448 496 448 496s445.312-272 445.312-496c0-136-85.312-266.656-237.312-266.656s-208 136.384-208 136.384z"></path>
    </symbol>
  </defs>
</svg>

<footer>
  <ul>
    <li><svg fill="#32d6df" width=11 height=11 class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg></li>
    <li><a href="http://instagram.com/magnusskare/" target="_blank">Instagram</a></li>
    <li><a href="https://dribbble.com/PartCoffee/" target="_blank">Dribbble</a></li>
    <li><a href="https://twitter.com/MagnusSkare" target="_blank">Twitter</a></li>
    <li><a href="https://github.com/partcoffee" target="_blank">GitHub</a></li>
    <li><a href="mailto:website.magnusskare@gmail.com">Mail</a></li>
  </ul>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src='../js/main.js'></script>

<script>
//  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

//ga('create', 'UA-50901143-1', 'auto');
//ga('send', 'pageview');
</script>