{% assign active = page.url | downcase | split: '/' %}

<nav>
    <ul>
        <li>
            <a href='/about' {% if active[1] == 'about' %}class='active'{% endif %}>About</a>
        </li>
        <li>
            <a href='/sketchbook' {% if active[1] == 'sketchbook' %} class='active' {% elsif active[1] == 'sketchbook-2' %} class='active' {% elsif active[1] == 'sketchbook-3' %} class='active' {% elsif active[1] == 'sketchbook-4' %} class='active' {% endif %}>Sketchbook</a>
        </li>
        <li>
            <a href='/projects' {% if active[1] == 'projects' %}class='active'{% endif %}>Projects</a>
        </li>
    </ul>
    <ul class="social">
        <li>
            <a href="https://twitter.com/MagnusSkare" target="_blank">Twitter</a>
        </li>
        <li>
            <a href="https://dribbble.com/PartCoffee/" target="_blank">Dribbble</a>
        </li>
        <li>
            <a href="https://github.com/partcoffee" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="http://instagram.com/magnusskare/" target="_blank">Instagram</a>
        </li>
        <li>
            <a href="mailto:website.magnusskare@gmail.com" target="_blank">Email</a>
        </li>
    </ul>
</nav>