/*------------------------------------*\
    #Animations
\*------------------------------------*/

/* @-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.fadeIn {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
} */

nav li a {
	visibility: hidden;
	-webkit-animation: showMe $anim step-end forwards;
	animation: showMe $anim step-end forwards;
}

@-webkit-keyframes showMe {
	from { visibility: hidden; }
	60%, 100% { visibility: visible; }
}

@keyframes showMe {
	from { visibility: hidden; }
	60%, 100% { visibility: visible; }
}

@for $i from 1 through $toplist {

  ul:nth-of-type(1) li:nth-child(#{$i}) .curtain, ul:nth-of-type(1) li:nth-child(#{$i}) a {
    -webkit-animation-delay: ($i * $delay);
    animation-delay: ($i * $delay);
  }
}

@for $i from 1 through ($total - $toplist) {
	
	ul:nth-of-type(2) li:nth-child(#{$i}) .curtain, ul:nth-of-type(2) li:nth-child(#{$i}) a {
    -webkit-animation-delay: ($delay* $toplist + ($i * $delay));
    animation-delay: ($delay* $toplist + ($i * $delay));
	}
}

.curtain {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $curtain;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.curtain {
	-webkit-animation: swipeRight $anim ease-in-out forwards;
	animation: swipeRight $anim ease-in-out forwards;
}

@-webkit-keyframes swipeRight {
	50%, 60% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	100% {
		-webkit-transform: translate3d(101%,0,0);
		transform: translate3d(101%,0,0);
		visibility: hidden; /* Okay, this one is ugly, but it's a temporary fix for iOS and desktop Safari */
	}
}

@keyframes swipeRight {
	50%, 60% {
		-webkit-transform: translate(0);
		transform: translate(0);

	}
	100% {
		-webkit-transform: translate3d(101%,0,0);
		transform: translate3d(101%,0,0);
		visibility: hidden;
	}
}

