/*------------------------------------*\
    #Animations
\*------------------------------------*/

%animated {
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fadeIn {
	@extend %animated;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

/* Entry is for subtle fade in animations */

.entry {
	opacity: 0;
}

@-webkit-keyframes up {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 50px, 0);
		-ms-transform: translate3d(0, 50px, 0);
		transform: translate3d(0, 50px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes up {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 50px, 0);
		-ms-transform: translate3d(0, 50px, 0);
		transform: translate3d(0, 50px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.up {
	@extend %animated;
	-webkit-animation-name: up;
	animation-name: up;
}

.wait {
	-webkit-animation-delay: .1s;
	animation-delay: .1s;
}




